// variable
:root {
  --font-body: "Outfit", sans-serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;

  --color-primary: #3c12d4;

  --gradient-color-from: #45acab;
  --gradient-color-to: #4788ac;

  --color-white: #fff;
  --color-black: #000;
  --color-default: #b3b3c0;
  --color-dark: #0f1928;
  --color-gray: #eeedef;
}
