@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background-gradient: linear-gradient(to bottom, #8f5b1b, #ffffff); /* Orange to White */
  --text-color: #ffffff; /* White */
  --font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-gradient: linear-gradient(to bottom, #8a0e0e, #503d3d); /* Dark Mode: Black Gradient */
    --text-color: #ffffff;
  }
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background-gradient);
  color: var(--text-color);
  font-family: var(--font-family); /* Pake font global */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Pastikan semua section juga pakai gradient */
section {
  width: 100%;
  padding: 20px;
  background: var(--background-gradient);
  text-align: center;
}

/* Reset dasar */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
